/*  your css code here. If applicable */
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ffffff;
}

.card {
	width : 320px;
	background-color : #f3f3f3;
	padding : 20px;
	text-align : center;
	/* border-radius : 20px; */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

img {
	width : 100%;
	height : auto;
	margin-bottom : 10px;
}

h1 {
	font-size: 38px;
	/* font-weight: bold; */
	margin: 10px 0;
}

#price, #description {
	margin : 5px 0;
	font-size : 18px;
}
	
.buy-button {
	background-color : #fe625a;
	border : none;
	padding : 10px 25px;;
	text-align : center;
	font-size : 22px;
	border-radius : 10px;
	color : #fff;
}

